.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;  
  
    &__label {
      display: flex;
      justify-content: center;
      align-self: center;
      font-weight: 700;
    }
  
    &__input {
      border: none;
      border-radius: 0.5em;
      padding: 1em;
      margin: 1em;
      width: 80%;
    }
  }